.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -140px;
    top: 230px;
    width: 210px;
    z-index: 1100;
}

.sticky li {
    list-style-type: none;
    background: rgb(166,186,191);
    background: linear-gradient(90deg, rgba(166,186,191,1) 20%, rgba(203,210,206,1) 49%, rgba(207,213,208,1) 52%, rgba(135,149,146,1) 84%);
    border-radius: 10px;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.sticky li:hover {
    margin-left: -115px;
}

.sticky li img {
    float: left;
    margin: 5px 4px;
    margin-right: 5px;
}

.sticky li p {
    padding-top: 5px;
    margin: 0px;
    line-height: 16px;
    font-size: 11px;
}

.sticky li p a {
    text-decoration: none;
    color: white;
}

.sticky li p a:hover {
    text-decoration: underline;
}