{% extends './base.html' %}

{% block titulo %}<title>Registro</title>{% endblock %}
{% block contenido %}
<div class="row d-flex justify-content-center align-items-center h-50" >    
     <div class="col-12 col-md-9 col-lg-7 col-xl-6 border border-dark">
     <h5 class="text-center">Registro</h5>
      <form action="{{ url_for('users.register') }}" method="post" autocomplete="off"> 
       <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Nombre</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="fullname" id="fullname"  placeholder="Ingresa un Nombre"/>
         </div>
        </div>
       </div>
       <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Correo</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="email" id="email"  placeholder="Ingresa un Correo"/>
         </div>
        </div>
       </div>
   
       <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">Usuario</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="username" id="username" placeholder="Ingresa un Usuario" required>
         </div>
        </div>
       </div>
   
       <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Contraseña</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" name="password" placeholder="Ingresa una Contraseña" id="password" required  placeholder="Enter your Password"/>
         </div>
        </div>
       </div>   
       <div class="form-group ">
         {% with messages = get_flashed_messages()  %}
         {% if messages %}
         {% for message in messages %}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
         <br>
        </label><input type="submit" value="Registrate" class="form-control btn btn-secondary " name="">
        <p style="padding:5px;">
             <a href="{{ url_for('users.login') }}" class="btn btn-secondary">Login</a>
        </p>        
       </div>        
      </form>
     </div>
    </div>   
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

  <br><br><br>

 
{% endblock %}
