{% extends './base.html' %}

{% block titulo %}<title>Pedido</title>{% endblock %}
{% block body %}
<div>        
    <center>
        <div class="col col-md-6">
            <div class="card bg-light text-grey" style="border-radius: 1rem;">
                <div class="card-header">
                    Pedido
                </div>                
                <div class="card-body">
                  <form action="{{url_for('pedidos.add_pedido')}}" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Productos:</label>
                        <select name="idproductos" >
                            {% for row in list_products%}
                            <option name="idproductos" class="form-control" value="{{row[0]}}">{{row[1]}}</option>
                            {% endfor %}
                        </select>     
                    </div>                 
                    <div class="mb-2">
                        <label class="form-label">Cantidad de productos:</label>
                        <input type="number" name="cantidad" id="" required>
                    </div>                        
                    <div class="mb-3">
                        <button class="btn btn-outline-secondary text-dark "><a class="ver" href="{{ url_for('pedidos.gracias') }}">Comprar</a></button>
                    </div>
                  </form>
                    <div class="card-footer text-muted">
                        <p><a class="ver" href="{{ url_for('index') }}">Cancelar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
<br><br><br><br><br><br>
{% endblock %}