{% extends './base.html' %}

{% block titulo %}
<title>celulares</title>
{% endblock %}

{% block contenido %} 
<div class="container-card">
    <div class="row">
        <center>
            <h3 class="itembar"
                style="color: black; background:aliceblue;">
                Celulares</h3>
        </center>
        <div class="col-md-10">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-prod">
                        <div class="card-header">
                            Redmi 9 Pro
                        </div>
                        <div class="card-body">                            
                            <img src="{{ url_for('static', filename='img/productos/celu1.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 30px;">
                        <div class="card-header">
                            Realmi 9i
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu2.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 60px;">
                        <div class="card-header">
                            Realmi GT Neo 2
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu3.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 90px;">
                        <div class="card-header">
                            Asus ROG Phone 5
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu2.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod">
                        <div class="card-header">
                            Nubia Red Magic 7
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu2.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 30px;">
                        <div class="card-header">
                            ZTE Axon 30 Ultra
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu3.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 60px;">
                        <div class="card-header">
                            iPhone 13 Pro Max
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu2.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 90px;">
                        <div class="card-header">
                            Red Magic 6S Pro
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu1.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod">
                        <div class="card-header">
                            Samsung Galaxy S22 Ultra
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu3.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 30px;">
                        <div class="card-header">
                            Red Magic 6R
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu3.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 60px;">
                        <div class="card-header">
                            Poco X4 Pro 5G
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu2.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 90px;">
                        <div class="card-header">
                            Oppo Find X5 Pro
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/celu3.png') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
    