{% extends './base.html' %}

{% block titulo %}
<title>Componentes</title>
{% endblock %}

{% block contenido %}  
<div class="container-card">   
    <div class="row">
        <center>
            <h3 class="itembar"
           style="color: black; background:aliceblue;">
           Monitores</h3>
       </center>
        <div class="col-md-10">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-prod">
                        <div class="card-header">
                            MONITOR 27 GAMING LG 27GP750
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon1.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 30px;">
                        <div class="card-header">
                            MONITOR 27" GAMING SAMSUNG
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon2.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 60px;">
                        <div class="card-header">
                            MONITOR 24" GAMING LG 24GN600
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon3.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 90px;">
                        <div class="card-header">
                            MONITOR 27" GAMING SAMSUNG
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon4.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod">
                        <div class="card-header">
                            MONITOR 27" GAMING SAMSUNG
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon5.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 30px;">
                        <div class="card-header">
                            MONITOR 32" GAMING SAMSUNG
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon7.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 60px;">
                        <div class="card-header">
                            MONITOR 27" GAMING HP X27
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon7.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 90px;">
                        <div class="card-header">
                            MONITOR 27" GAMING LG 27MP60G
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon8.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod">
                        <div class="card-header">
                            MONITOR 27" GAMING LG 27GN880
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon9.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 30px;">
                        <div class="card-header">
                            MONITOR 24" GAMING SAMSUNG
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon10.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 60px;">
                        <div class="card-header">
                            MONITOR 27" GAMING SAMSUNG
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon11.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-prod" style="margin-left: 90px;">
                        <div class="card-header">
                            MONITOR 34" GAMING LG 34GL750-B
                        </div>
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='img/productos/mon12.jpg') }}" alt="" width="180px" height="200px">
                            <p class="card-text"><a href="#">Ver</a></p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div> 
</div>
{% endblock %}
   
   