{% extends './base.html' %}

{% block titulo %}<title>Ingresa</title>{% endblock %}
{% block contenido %}
<div class="login-box" >
    <div class="login-header">Login</div>
    <div class="login-body">
      <p>Por favor ingresa tu usuario y contraseña</p>
      <form class="form-group" action="{{ url_for('login') }}" method="post">
          <label>Usuario</label>
          <input type="text" class="form-control" name="username" placeholder="Ingresa tu Usuario" id="username" required>
          <label>Contraseña</label>
          <input type="password" class="form-control" name="password" placeholder="Ingresa tu Contraseña" id="password" required>
          <input type="checkbox" value="checked"><b>Recuerdame</b>
          <input type="submit" value="Ingresar" class="form-control btn btn-secondary " name="">
      </form>
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <p>No tienes una cuenta <a href="{{ url_for('register') }}">Registrate Aqui</a></p>
      <a href="{{ url_for('index') }}">Atras</a>
    </div>
   </div>   
   <br><br><br><br><br><br><br><br>
{% endblock %}