{% extends './base.html' %}

{% block titulo %}<title>Perfil</title>{% endblock %}
{% block contenido %}
<h1>Tu Perfil</h1>
<div class="perfil">
    <h1>Detalles de tu cuenta:</h1>
    <table>
        <tr>
            <td>Nombre:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
        <tr>
            <td>Usuario:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}